@model BOL.Developer

@{
    ViewBag.Title = "Home Page";
}


{
<div class="jumbotron">
    <h1>@Model.Title</h1>
    <p class="lead">@Model.Tag</p>
    <p>
        <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row myInfo">
    <div class="col-md-12">
        <h2 class="center">--@Model.DeveloperInfo[0].Title-</h2>
        <p class="parastyle">
            @Model.DeveloperInfo[0].Description
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
   
    @foreach (var devInfo in @Model.DeveloperInfo.Skip(1))
    {
        <div class="col-md-4">
            <h2 class="headingstyle">-- @devInfo.Title --</h2>
            <p class="parastyle">
                I love to create and build websites using front-end and .net technologies for developing state of art web applications
                with minute details and presicion.
            </p>
            <p>
                <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
            </p>
        </div>
    }
</div>
